@model Assignment3.Models.Teacher


@{
    ViewBag.Title = "DeleteConfirm";
}

<div id="containershow">
    <nav>
        <a class="nav-link" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete  @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be reversed.</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button class="delbutton">
        Confirm Delete</button>
    </form>
</div>



