@model IEnumerable<Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}



<h2>List</h2>
<p>This page should be showing information about all teachers</p>


@foreach (var teacher in Model)
{
    <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
}

