@model Assignment3.Models.Teacher
   
@{
    ViewBag.Title = "Show";
}



<div id="containershow">
    <nav>
        <a class="nav-link" href="/Teacher/List">Back To Teachers</a>
        <a class="del-link" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="nav-link" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Employee Number: @Model.EmployeeNumber</p>
    <p>Teacher since: @Model.TeacherHireDate.ToString("dd-MMM-yyyy")</p>
    </div>

