@model Assignment3.Models.Teacher
   
@{
    ViewBag.Title = "Show";
}


<a class="nav-link" href="/Teacher/List">Back To Teachers</a>
<div id="containershow"></div>
<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Employee Number: @Model.EmployeeNumber</p>

