@model Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<!-- DISCLAIMER: This list was created using reference material from Learning C# For Web Development Pt 11 + 12-->
<!-- LINKS: 11 - https://www.youtube.com/watch?v=uP2kH8tFXIQ&feature=youtu.be -->
<!-- Links: 12 - https://www.youtube.com/watch?v=rluweOu84r0&feature=youtu.be -->

<a class="nav-link" href="/Teacher/List">Back To Teachers</a>
<div id="containershow"></div>
<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Employee Number: @Model.EmployeeNumber</p>
