@model Assignment3.Models.Student

@{
    ViewBag.Title = "StudentShow";
}


<!-- Redirect link-->
<a class="nav-link" href="/Teacher/List">Back To Teachers</a>

<div id="containerstudentshow">
<h2>@Model.StudentFname @Model.StudentLname</h2>
<p>This student enrolled on: @Model.StudentEnrolDate</p>
</div>
